.betInput {
    padding: 9px;
    border: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 180px;
    font-size: 20px;
    float: left;
    height: 30px;
    background-color: #1e87da;
    color: white;
}

.betInputWrapper {
    float: left;
    width: 222px;
}

.betInputIncButton {
    float: left;
    border: 0;
    height: 24px;
    width: 24px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #343b46;
    border-left: 1px solid #343b46;
    color: white;
}

.orbTicketImg {
    float: left;
    height: 48px;
    position: relative;
    left: 10px;
    top: 0px;
    margin-bottom: -4px;
}

.ticketButton {
    height: 48px;
    width: 130px;
    text-transform: uppercase;
    border: 0;
    background-color: #00C853;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    color: white;
    margin-left: 0px;
}

.ticketWrapper {
    margin: auto;
    width: 458px;
}
.priceTag{
    text-align: center;
    color: green;
    font-size: 13px;
    margin: 4px 0 0 0;
}