.buyingForm__container {
    border-radius: 6px;
    color: white;
    padding: 10px;
}
.buyingFormContainer_raisedButton, .buyingForm__logoTextPrimary, .buyingForm__logoTextSecondary {
    position: relative;
}

.buyingFormContainer_raisedButton {
    top: 10px;
    color: #ffffff;
    font-size: 14px;
}
