.bottomComponent {
    background-size: cover;
}

.bottomComponent__container {
    text-align: center;
    margin: auto;
}

.bottomComponent__headline {
    color: white;
    font-weight: 300;
    font-size: 45px;
}

.bottomComponent__buttonWrapper {
    height: auto;
    display: inline-block;
    max-width: 580px;
    margin: 15px 0 0 0;
}
.bottomComponent__paddingWrapper {
    padding: 0 0 15px 0;
    max-width: 900px;
    margin: auto;
    text-align: center;
}