.countdownWrapper {
    width: 200px;
    height: 200px;
    margin: auto;
    text-align: initial;
}

.countdownSubhead--top {
    font-size: 23px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    top: 25px;
    text-align: center;
}

.countdownSubhead--bottom {
    font-size: 23px;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    top: 62px;
    text-align: center;
}